<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/login.css">
<<<<<<< HEAD
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/home.css">
<title><%=pageTitle%></title>
=======
<title> CSS Login Screen Tutorial </title>
>>>>>>> e16239878b8cc0b7e0f37f3aa02c7876eef757df
</head>
<body>
