<header id="navbar">
  <nav class="navbar-container container">
    <a href="/" class="home-link">
      <div class="navbar-logo"></div>
     Brain Storm
    </a>
    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar-menu" aria-labelledby="navbar-toggle">
      <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
        <% if(!isAuth) {%>
        <li class="navbar-item"><a class="navbar-link" href="/auth/login">Login</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/auth/signup">Signup</a></li>
        <%} else{%>
          <li class="navbar-item"><a class="navbar-link" href="/feed/mythoughts">My Thought</a></li>
          <form  action="/auth/logout" method="post">
                      
            <button class="navbar-item" type="submit">Logout</button>
        </form>
          <%}%>
      </ul>
    </div>
  </nav>
</header>