

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="/"><img src="/images/logo1.jpg" style="width: 70%; height: 70%; border-radius: 2em;"></a> -->
    <a class="navbar-brand" href="/">Brain Storm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/feed/thoughts">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/blog">Blog</a>
        </li>
        <% if(!isAuth) {%>
        <li class="nav-item">
          <a class="nav-link " href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/auth/signup">Signup</a>
        </li>
        <%} else{%>
          <li class="nav-item">
            <a class="nav-link " href="/feed/mythoughts">My Thoughts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/user/myprofile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/feed/trending">Trending</a>
          </li>
          <form class="form-inline" action="/auth/logout" method="post">
            
            <button class="btn btn-outline-none nav-link" type="submit">Logout</button>
          </form>
          <%}%>
      </ul>
      
    </div>
  </div>
</nav>