<%- include('includes/head.ejs')%>

<%- include('includes/navbar.ejs')%>
<h1>Some Error Occured!!</h1>
            <p>We're working on fixing this, sorry for inconvineance</p>
            <%- include('includes/end.ejs') %>